/** {
border:0;
margin:0;
padding:0;
}*/

/*html {
overflow-y:scroll;
}

input,textarea,button {
border:solid 1px #aaa;
}

a,a:link,a:visited,a:active {
color:inherit;
text-decoration:none;
-webkit-transition-property:background, border;
-webkit-transition-duration:250ms;
}

li {
list-style-type:none;
}

h1,h2,h3,h4,h5,h6 {
font-size:1em;
}*/

/*body,select,input,textarea,optgroup,option {
font-size:12px;
font-family:sans-serif;
}*/

/*body {
background-color:#eff4f7;
}*/

/*table {
border-spacing:0;
border-collapse:collapse;
}*/

h2.cdo-section-title-hw {
border-bottom:1px solid #ccc;
border:none;
color:#000;
font-size:23px;
font-weight:400;
font-family:Georgia, serif;
margin:0;
padding:5px 0 0;
}

.di-head {
border-bottom:1px solid #ccc;
overflow:hidden;
padding-bottom:5px;
margin-bottom:5px;
}

audio {
width:0;
height:0;
}

.pron-uk,.pron-us {
display:inline-block;
width:34px;
height:13px;
background-image:url(http://dictionary.cambridge.org/external/images/cdo-sprite-icons-multi.png?version=2014-06-19-0959);
cursor:pointer;
margin:2px;
}

.pron-uk {
background-position:-34px -97px;
}

.pron-us {
background-position:0 -97px;
}

.examp {
display:block;
}

a.query:hover {
text-decoration:underline;
}

img {
max-width:100%;
}

.notification-area {
width:100%;
}

@media screen and max-width 767px {
html {
-webkit-text-size-adjust:none;
}
}