@font-face { font-family: 'Kingsoft Phonetic Plain'; src: url('/assets/fonts/kingsoft_phonetic_ue.ttf'); }

.actionIcon {
    cursor: pointer;
}

.actionIconPressed {
    color: red;
    cursor: pointer;
}

.tagLabel {
    cursor: pointer;
}

span.hide,textarea.hide{
  display: none;
}

/*div.row {
    margin-bottom: 10px;
}*/
.panelRow {
    padding-top:5px;
    padding-bottom:2.5px;
}

.entry-headword{
   font-family: Arial;
   font-style: normal;
   font-size: 112.5%;
   font-weight:bold;
}

.inline-list{
  float:right;
  margin-right: 10px;
}

.entry-context {
   padding-top: 5px;
   font-family: Tahoma, Verdana;
   font-style: normal;
   font-size: 	93.8%;
}

entry-data [contenteditable="true"] { padding: 10px; outline: 1px dashed #CCC; }
entry-data [contenteditable="true"]:hover { outline: 1px dashed #0090D2; }

div.text-core{
margin-top: 15px;
}
input.tag {
    width:500px;
}

#entryContextHtml {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875rem;
    margin: 0px 0px 1rem;
    padding: 0.5rem;
    height: 10rem;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    min-height: 50px;
    overflow: auto;
}
