@(entries : Iterable[models.Entry])(implicit flash:Flash, token: play.filters.csrf.CSRF.Token, session: play.api.mvc.Session)
@import helper._
@main("All Entries") {
@flash.get("success").map { msg =>
<div class="flash">@msg</div>
}

<div class="spacer"></div>
<div class="small-12 columns">
    <div class="row">
        <div class="small-12 columns">
            <div class="small-3 small-offset-9 columns">
                <button class="button right" id="newEntry"><i class="fa fa-pencil"></i>&nbsp; new entry</button>
            </div>
        </div>
    </div>

    @if(entries.isEmpty) {
    <p class="text-center">No Entries</p>
    }else{
    <section id="entrylistContainer">
        <section id="entrylist">
            @for(e <- entries) {
            <div class="row">
                <div class="small-12 columns">
                    <div class="panel entry">
                        <div class="row">
                            <div class="small-6 columns"><span class="entry-headword">@e.headword</span></div>
                            <div class="small-6 columns ">
                                <div class="row">
                                    <div class="small-12 columns ">
                                        <div class="small-3 small-offset-7 columns text-right">
                                            <div class="rating" data-score="@e.rating" data-id="@e.id"></div>
                                        </div>
                                        <div class="small-1 columns text-right"><a href="#"><i class="fa fa-pencil-square-o entryEdit fa-dark" data="@e.id"></i></a></div>
                                        <div class="small-1 columns text-right"><a href="#"><i class="fa fa-trash-o entryDel fa-dark" data="@e.id"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns entry-context">@e.context</div>
                        </div>
                        <div class="row">
                            <div class="small-8 columns"></div>
                            <div class="small-2 columns">@e.source</div>
                            <div class="small-2 columns">@e.tags</div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </section>
    </section>
    }
</div>

<div id="entryModal" class="reveal-modal small" data-reveal>
    <h2>entry:</h2>
    <div class="row">
        <div class="small-12 columns">
            <form id="entryForm" data-abide>
                @CSRF.formField
                <input id="rating_target" type="hidden" name="rating" value='1'>
                <input type="hidden" name="id">

                <div class="row">
                    <div class="small-12 columns">
                        <label>Title <small>required</small>
                            <input name="headword" type="text" required/>
                        </label>
                        <small class="error">headword can't be empty</small>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>Content
                            <textarea name="context"></textarea>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <input class="button tiny right" type="submit" value="submit">
                    </div>
                </div>
            </form>
        </div>

        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>


<div id="infoModal" class="reveal-modal small" data-reveal>
    <h2>Info</h2>
    <p id="infoModalContent"></p>
    <a class="close-reveal-modal">&#215;</a>
</div>

}{
<link rel="stylesheet" media="screen" href="@routes.Assets.at("libs/raty/jquery.raty.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/entries.css")">

<script src="@routes.Assets.at("libs/raty/jquery.raty.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/entries.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("libs/foundation/js/foundation/foundation.reveal.js")"></script>
}

