@(entry : Form[Entry])(implicit token: play.filters.csrf.CSRF.Token, session: play.api.mvc.Session)
@import helper._

@main("entry") {

<div class="spacer"/>

<div class="row">
    <div class="small-12 columns">

@form(action = routes.EntryController.save) {
    @CSRF.formField
    <div class="row">
        <div class="small-8 columns">
        @inputText(entry("title")) <input type="button" id="lookupBtn" value="Lookup">
        </div>
    </div>
    <div class="row">
        <div class="small-8 columns">
        @textarea(entry("content"))
        </div>
    </div>

    <div class="row">
        <div class="small-8 columns">
            <div class="rating"></div>
        </div>
    </div>

    <div class="row">
        <div class="small-8 columns">
            <input id="rating_target" type="hidden" name="rating" value='@entry("rating").value.getOrElse("1")' >
        </div>
    </div>

    <div class="row">
        <input type="submit" value="submit">
    </div>
}
     </div>
</div>

<div id="def">

</div>

}{

<link rel="stylesheet" media="screen" href="@routes.Assets.at("libs/raty/jquery.raty.css")">
<script src="@routes.Assets.at("libs/raty/jquery.raty.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/entry.js")" type="text/javascript"></script>
}
