@(entries : Iterable[models.Entry])(implicit flash:Flash, token: play.filters.csrf.CSRF.Token, session: play.api.mvc.Session)
@import helper._
@main("All Entries") {
    @flash.get("success").map { msg =>
        <div class="flash">@msg</div>
    }
    @if(entries.isEmpty) {
        <p>No Entries</p>
    }else{
        <div class="spacer"/>
        @for(e <- entries) {
          <div class="row">
              <div class="small-12 columns">
                  <div class="panel">
                      <div class="row">
                           <div class="small-8 columns"><span class="entry-title">@e.title</span></div>
                           <div class="small-2 columns text-right">
                               <div class="rating" data-score="@e.rating" data-id="@e.id"></div>
                           </div>
                      @if(session.get("signedIn").isDefined){
                          <div class="small-1 columns text-right"><a href="@routes.EntryController.edit(e.id.get)"><i class="fa fa-pencil-square-o"></i></a></div>
                          <div class="small-1 columns text-right"><a href="@routes.EntryController.delete(e.id.get)"><i class="fa fa-trash-o"></i></a></div>
                      }else{
                          <div class="small-2 columns"></div>
                      }
                      </div>
                      <div class="row">
                          <div class="small-12 columns">@e.content</div>
                      </div>
                      <div class="row">
                          <div class="small-4 columns"></div>
                          <div class="small-2 columns">@e.source</div>
                          <div class="small-2 columns">@e.tags</div>
                      </div>
                  </div>
              </div>
          </div>
        }
    }
    <a href="@routes.EntryController.add">Add a new entry</a>

}{
<link rel="stylesheet" media="screen" href="@routes.Assets.at("libs/raty/jquery.raty.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/entries.css")">

<script src="@routes.Assets.at("libs/raty/jquery.raty.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/entries.js")" type="text/javascript"></script>
}
