@(title: String)(content: Html)(script: Html = HtmlFormat.empty)(implicit session: play.api.mvc.Session)

<!DOCTYPE html> <!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@title</title>
    <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
    <link rel="stylesheet" href="@routes.Assets.at("libs/foundation/css/normalize.css")">
    <link rel="stylesheet" href="@routes.Assets.at("libs/foundation/css/foundation.css")">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("libs/foundation/js/vendor/modernizr.js")"></script>
</head>
<body> <!-- body content here -->
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name"><h1><a href="#">VocaBank</a></h1></li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
            <ul class="right">
            @session.get("signedIn").fold{
                <li class="active"><a href="@routes.UserController.signIn">Sign In</a>
            }{ e =>
                <li class="active has-dropdown"><a href="#">@e</a>
                    <ul class="dropdown">
                        <li><a href="@routes.UserController.signOut">signout</a></li>
                    </ul>
                </li>
            }
            </ul>
    </section>
</nav>
<section class="main">
@content
</section>
<script src="@routes.Assets.at("libs/foundation/js/vendor/jquery.js")"></script>
<script src="@routes.Assets.at("libs/foundation/js/foundation.min.js")"></script>
<script> $(document).foundation(); </script>
@script
</body>
</html>
