@import helper._
@import utils.ReCaptchaUtils
@(user: Form[User])(implicit token: play.filters.csrf.CSRF.Token)

@main("signup") {

    @form(action = routes.UserController.save) {
        @CSRF.formField
    <div class="row">
        <div class="small-4">
        @inputText(user("name"))
        </div>
    </div>

<div class="row">
    <div class="small-4">
        @inputText(user("email"))
        </div></div>

<div class="row">
    <div class="small-4">
        @inputPassword(user("password"))
        </div></div>

<div class="row">
    <div class="small-4">
        @Html(ReCaptchaUtils.render())
        </div></div>

<div class="row">
    <div class="small-4">
        <input type="submit" value="submit">
        </div></div>
    }
   <div></div>
}{
        <div></div>
}
